<meta charset="UTF-8">

<h1>Cust Register Page</h1>
<div class="container-fluid">
	<form action="registerimpl" method="post">
		<div class="row">
			<div class="col-md-3">
				<label for="id">ID:</label>
				<input type="text" class="form-control" id="id" placeholder="Enter ID" name="id">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="name">NAME:</label>
				<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
			</div>
		</div>
		<button type="submit" name="REGISTER" class="btn btn-default">Submit</button>

	</form>
</div>
