<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CartMapper">

	<select id="select" parameterType="int" resultType="cartVO">
		SELECT c.id, cu.id as uid, ca.name as catename, p.id as pid, p.name as pname, p.price as pprice, c.regdate, c.cnt FROM CART c
		INNER JOIN CUST cu ON c.uid = cu.id
		INNER JOIN PRODUCT p ON c.pid = p.id
		INNER JOIN CATE ca ON ca.id = p.cid
		WHERE c.id = #{id}
	</select>
	<select id="selectall" resultType="cartVO">
		SELECT c.id, cu.id as uid, ca.name as catename, p.id as pid, p.name as pname, p.price as pprice, c.regdate, c.cnt FROM CART c
		INNER JOIN CUST CU ON c.uid = cu.id
		INNER JOIN PRODUCT p ON c.pid = p.id
		INNER JOIN CATE ca ON ca.id = p.cid
	</select>
	<insert id="insert" parameterType="cartVO">
		INSERT INTO CART VALUES (NULL,#{uid},#{pid},CURDATE(),#{cnt})
	</insert>
	<update id="update" parameterType="cartVO">
		UPDATE CART SET UID=#{uid}, PID=#{pid}, CNT=#{cnt} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM CART WHERE ID=#{id}
	</delete>

</mapper>