<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script>
$(document).ready(function(){
	$('#loginbtn').click(function(){
		$('#loginadmin').attr({
			'method':'post',
			'action':'/loginimpl'
		});
		$('#loginadmin').submit();
	});
});
</script>
<div class="col-lg-3">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900A mb-4">Admin Login Page</h1>
            <h5 th:text="${msg}"></h5>
        </div>
        <form class="user" id="loginadmin">
            <div class="form-group">
           		<label for="id">ID: </label><span id="nspan"></span>
                <input type="text" class="form-control form-control-user" name="id" id="id">
            </div>
            <div class="form-group">
            	<label for="pwd">Password: </label><span id="pspan"></span>
            	<input type="password" class="form-control form-control-user" name="pwd" id="pwd">
            </div>
            <div class="form-group">
				<a id="loginbtn" class="btn btn-primary btn-user btn-block">
					Login
				</a>
            </div>
        </form>
    </div>
</div>
</html>