<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script>
$(document).ready(function(){
	$('#registerbtn').click(function(){
		$('.user').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'addimpl'
		});
		$('.user').submit();
	});
});
</script>

<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900A mb-4">Insert Product Information</h1>
        </div>
        <form class="user">
            <div class="form-group">
           		<label for="name">NAME: </label><span id="nspan"></span>
                <input type="text" class="form-control form-control-item" name="name" id="name">
            </div>
            <div class="form-group">
            	<label for="price">PRICE: </label><span id="pspan">
                </span><input type="number" class="form-control form-control-item" name="price" id="price">
            </div>
            <div class="form-group">
            	<label for="cid">CATEGORY ID: </label>
                <select name="cid" class="form-control form-control-item">
            		<option th:each="c : ${slist}"
            				th:text="${c.id+' : '+c.name}"
            				th:value="${c.id}">
            		</option>
            	</select><!--Spring day09 참고-->
            </div>
            <div class="form-group">
            	<label for="imgname">IMGNAME: </label><span id="ispan"></span>
            	<input type="file" class="form-control form-control-item" name="mf" id="imgname">
            </div>
            <a id="registerbtn" href="#" class="btn btn-primary btn-user btn-block">
                Register
            </a>
        </form>
    </div>
</div>
</html>