<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script>
$(document).ready(function(){
	$('#deletebtn').click(function(){
		var id = $('input[name="id"]').val();
		var c = confirm('삭제 하시겠습니까?');
		if (c == true) {
			location.href='delete?id='+id;
		}
	});
	
	$('#updatebtn').click(function(){
		$('.user').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'update'
		});
		$('.user').submit();
	});
});
</script>
<style>
	#pimg{
		width: 500px;
	}
</style>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Product Information</h1>
        </div>
        <form class="user">
     	  	<div class="form-group">
     	  		<img th:src="@{'/img/'+${p.imgname}}" id="pimg">
     	  	</div>
            <div class="form-group">
            	<label for="id">ID: </label>
                <input type="number" class="form-control form-control-item"
                    name="id" id="id" value="1005" th:value="${p.id}" readonly="readonly">
            </div>
            <div class="form-group">
            	<label for="name">NAME: </label>
                <input type="text" class="form-control form-control-item"
                    name="name" id="name" value="pepper" th:value="${p.name}">
            </div>
            <div class="form-group">
            	<label for="price">PRICE: </label>
                <input type="number" class="form-control form-control-item"
                    name="price" id="price" value="10000" th:value="${p.price}">
            </div>
            <div class="form-group">
            	<label for="regdate">REGDATE: </label>
                <input type="text" class="form-control form-control-item"
                    name="regdate" id="regdate" value="22/06/09" th:value="${#dates.format(p.regdate,'yyyy/MM/dd')}" readonly="readonly">
            </div>
            <div class="form-group">
            	<label for="cid">CATEGORY ID: </label>
          		<select name=cid class="form-control form-control-item">
            		<option th:each="c : ${calist}"
            				th:text="${c.id+' : '+c.name}"
            				th:value="${c.id}"
            				th:selected="${c.id == p.cid}">
            		</option>
            	</select> <!--Spring day09 참고-->
            </div>
            <div class="form-group">
            	<label for="imgname">IMAGE NAME: </label>
                <input type="file" class="form-control form-control-item"
                    name="mf" id="imgname" value="" th:value="${p.imgname}">
            </div>
            
            <a id="updatebtn" href="#" class="btn btn-primary btn-user btn-block">
                UPDATE
            </a>
            <a id="deletebtn" href="#" class="btn btn-primary btn-user btn-block">
                DELETE
            </a>
        </form>
    </div>
</div>
</html>