<meta charset="UTF-8">

<h1>Product Register Page</h1>
<div class="container-fluid">
	<form action="registerprod" method="post">
		<div class="row">
			<div class="col-md-3">
				<label for="name">NAME:</label>
				<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="price">PRICE:</label>
				<input type="number" class="form-control" id="price" placeholder="Enter Price" name="price">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="rate">RATE:</label>
				<input type="text" class="form-control" id="rate" placeholder="Enter Rate" name="rate">
			</div>
		</div>
		<button type="submit" name="REGISTER" class="btn btn-default">Submit</button>

	</form>
</div>
