<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       ">
	<context:component-scan base-package="com.*"/>	<!-- com 패키지 밑에 모든 것들을 스캔, 스캔의 기준은 Annotation -->
 	
 	<bean id="logAdvice" class="com.frame.LoggerAdvice"/>
 	
	<aop:config>					<!-- com 밑에 user 패키지 밑에 모든 Service 밑에 모든 함수 -->
		<aop:pointcut expression="execution(* com.*.*Service.*(..))"
		id="mypoint"/>
		<aop:aspect id="MyAspect" ref="logAdvice">	<!-- logadvice를 mypoint에 적용 -->
			<aop:around method="around"  pointcut-ref="mypoint"/>	<!-- 모든 함수가 시작되기 전에 beforeLog가 실행될 것이다. -->
		</aop:aspect>
	</aop:config>
 	
</beans>